*, h1, h2, h3, h4, h5, h6,
figure, time {
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

html {
  font-size: 62.5%;
  font-family: $a-font-sans;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: $a-width-lg;
  color: $a-color-text--main;
  @include a-fz-md;
  line-height: $a-lineheight-md;
  letter-spacing: 0.05em;
  word-break: break-all;
  word-wrap: break-word;

  @media screen and (max-width: 767px) {
    min-width: auto;
    font-size: 1.3rem;
  }
}

img {
  max-width: 100%;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.7;
    transition: 0.1s;
  }
}

li {
  list-style: none;
}

.fadeIn {
  animation: fadeIn 1s ease-in-out 0s 1 normal;

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }
}
