@mixin width-md {
  @include a-width-md;
  margin: 0 auto;
}

@mixin width-sm {
  @include a-width-sm;
  margin: 0 auto;
}


@mixin arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-left-color: #ffac2a;
  content: "";
}

@mixin heading-lg {
  font-weight: 500;
  letter-spacing: 0.1em;
}

@mixin heading-green {
  height: 40px;
  padding: 0 20px;
  background-color: $a-color-green;
  color: #fff;
  font-size: $a-fz-lg;
  font-weight: 500;
  font-family: $a-font-noto;
  letter-spacing: 0.075em;
  line-height: 40px;

  @media screen and (max-width: 767px) {
    height: 30px;
    padding: 0 10px;
    font-size: 1.4rem;
    line-height: 30px;
  }
}
