<div class="c-header-wrap">
  <header class="c-header">
    <h1 class="c-header-logo">
      <a href="/index.html"><img src="assets/images/common/logo.png" alt="社会法人 友好福祉会 障害者支援施設 麦の家"></a></h1>
    <div class="c-header-info">
      <address class="c-header-address">〒400ー1503　山梨県甲府市心経寺町490-1</address>
      <p class="c-header-tel">055－266－3976</p>
    </div>
  </header><!-- /.c-header -->

  <nav class="c-nav js-nav">
    <ul class="c-nav-list">
      <li class="c-nav-item is-active"><a href="/index.html">トップ</a></li>
      <li class="c-nav-item"><a href="/policy/index.html">大事にしていること</a></li>
      <li class="c-nav-item"><a href="/life/index.html">麦の家の生活</a></li>
      <li class="c-nav-item"><a href="/facility/index.html">施設紹介</a></li>
      <li class="c-nav-item"><a href="/blog/index.html">麦の家ブログ</a></li>
      <li class="c-nav-item"><a href="/recruit/index.html">採用情報</a></li>
    </ul>
  </nav><!-- /.c-nav -->
</div><!-- /.headerWrap -->
