@charset "UTF-8";
@import "~sanitize.css";


/* Base
   ----------------------------------------------------------------- */
@import "base/variables";
@import "base/base";
@import "base/mixin";


/* Component
   ----------------------------------------------------------------- */
@import "component/button";
@import "component/page";
@import "component/sub_page";
@import "component/section";
@import "component/contentList";
@import "component/pagenavi";

/* Page
   ----------------------------------------------------------------- */
@import "page/top.scss";
@import "page/blog.scss";
@import "page/policy";
@import "page/facility";
@import "page/life";
@import "page/recruit";
@import "page/yk";

/* Utility
   ----------------------------------------------------------------- */
@import "utility/utility";
@import "utility/slick";
@import "utility/slick-theme";
