/* --------------------------------
  保護者さまページ
-------------------------------- */

/* ページタイトル */
.c-subPage-title--document {
  padding: 0 0 10px 96px;
  background: url("/muginoie/assets/images/common/nav_document.svg") no-repeat 16px top;
  background-size:  50px 50px;
}

@media screen and (max-width: 767px) {
  .c-subPage-title--document {
    padding: 0 0 0 55px;
    background: url("/muginoie/assets/images/common/nav_document.svg") no-repeat 10px 5px;
    background-size:  30px 30px;
  }
}

/* ログインページ */
.d-document-lock {
  margin: 60px 0 200px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .d-document-lock {
    margin: 40px 0 90px;
  }
}

.d-document-lockText {
  line-height: 2;
}

.d-document-lockSection {
  width: 608px;
  margin: 40px auto 0;
  padding: 42px 0 50px;
  background-color: #fff;
  letter-spacing: 0.075em;
}

@media screen and (max-width: 767px) {
  .d-document-lockSection {
    width: 92%;
    margin: 20px auto 0;
    padding: 24px 0 36px;
  }
}

.d-document-lockTitle {
  font-size: 1.8rem;
  font-weight: bold;
  color: #6a3c24;
}

@media screen and (max-width: 767px) {
  .d-document-lockTitle {
    font-size: 1.3rem;
  }
}

.d-document-lockInput {
  width: 355px;
  height: 38px;
  margin: 32px 0 auto;
  padding: 8px 16px;
  border: 1px solid #d5ccb6;
  background-color: #f8f7f3;
  border-radius: 0;
  font-size: 1.4rem;
  color: #666;
}

@media screen and (max-width: 767px) {
  .d-document-lockInput {
    width: 222px;
    height: 32px;
    margin: 24px 0 auto;
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}

.d-document-lockBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 252px;
  height: 52px;
  margin: 32px auto 0;
  background-color: #3a8a00;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 2px 0 rgba(58, 138, 0, 50%);
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  transition: .1s;
}

@media screen and (max-width: 767px) {
  .d-document-lockBtn {
    width: 222px;
    height: 38px;
    margin: 24px auto 0;
    font-size: 1.3rem;
  }
}


.d-document-lockBtn:hover {
  opacity: .5;
}

.d-document-lockIcon {
  position: absolute;
  top: 13px;
  right: 19px;
  width: 17px;
  height: 28px;
}

@media screen and (max-width: 767px) {
  .d-document-lockIcon {
    top: 12px;
    right: 46px;
    width: 10px;
    height: 17px;
  }
}

/* ログイン後のページ */
.d-document-section {
  width: 900px;
  margin: 60px auto 0;
}

@media screen and (max-width: 767px) {
  .d-document-section {
    width: 92%;
    margin: 40px auto 0;
  }
}

.d-document-title {
  padding: 0 24px;
  height: 40px;
  padding: 0 20px;
  background-color: #3a8a00;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Noto Sans Japanese', sans-serif;
  letter-spacing: 0.075em;
  line-height: 40px;
}

@media screen and (max-width: 767px) {
  .d-document-title {
    height: 30px;
    padding: 0 10px;
    font-size: 1.4rem;
    line-height: 30px;
  }
}

.d-document-list {
  margin: 44px 0 90px;
  padding: 8px 50px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .d-document-list {
    margin: 30px 0 60px;
    padding: 2px 10px 10px 18px;
  }
}

.d-document-item {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}

.d-document-item:last-child {
  border: none;
}

.d-document-anchor {
  display: flex;
  align-items: center;
  padding: 20px 24px;
}


@media screen and (max-width: 767px) {
  .d-document-anchor {
    display: block;
    padding: 10px 10px 10px 12px;
  }
}

.d-document-anchor::before {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-left-color: #ffac2a;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .d-document-anchor::before {
    top: 18px;
    bottom: auto; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-left-color: #ffac2a;
  }
}

.d-document-anchor:hover .d-top-newsText {
  text-decoration: none;
}

.d-document-text {
  margin-left: 16px;
  color: #8e5947;
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .d-document-text {
    margin: 2px 0 0 0;
    font-size: 1.2rem;
  }
}

.d-document-date {
  flex-shrink: 0;
  font-size: 1.6rem;
}

@media screen and (max-width: 767px) {
  .d-document-date {
    font-size: 1.1rem;
  }
}

.d-document-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-left: 18px;
  width: 64px;
  height: 24px;
  background-color: #d66c9c;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.08em;
}

@media screen and (max-width: 767px) {
  .d-document-tag {
    display: inline-block;
    width: 46px;
    height: 16px;
    margin-left: 4px;
    font-size: 0.8rem;
    text-align: center;
  }
}