.d-blog {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-post {
    @include a-width-sm;
    margin: 40px auto 60px;
    padding: 30px 30px 40px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      margin: 30px auto;
      padding: 15px 15px 20px;
    }
  }

  &-postTitle {
    padding: 5px 20px;
    background-color: $a-color-brown--light;
    color: $a-color-brown;
    @include a-fz-lg;
    font-family: $a-font-noto;

    @media screen and (max-width: 767px) {
      height: auto;
      padding: 4px 10px;
      font-size: 1.4rem;
      line-height: 1.8;
    }
  }

  &-postDate {
    display: block;
    margin-top: 16px;
    @include a-fz-sm;
    color: $a-color-brown;
    text-align: right;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
    }
  }

  &-postContent {
    margin-top: 10px;
    @include a-fz-sm;
    line-height: 1.8;
    overflow: hidden;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }

    img {
      float: right;
      width: 368px;
      height: auto;
      margin: 0 0 25px 20px;

      @media screen and (max-width: 767px) {
        float: none;
        width: 100%;
        margin: 5px 0 25px;
      }
    }

    p + p {
      margin-top: 20px;

      @media screen and (max-width: 767px) {
        line-height: 2;
      }
    }
  }
}
