.d-facility {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-contentInner {
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-contentImg {
    flex-shrink: 0;
    width: 368px;
    margin-right: 40px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 100%;
    }

    &--sm {
      position: relative;
      width: 180px;

      @media screen and (max-width: 767px) {
        width: 49%;
      }
    }
  }

  &-contentImgRow {
    margin-top: 7px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
    }
  }

  &-contentImgText {
    position: absolute;
    bottom: 0;
    right: 8px;
    color: #fff;
    font-size: 1.3rem;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &-contentTitle {
    padding-bottom: 10px;
    border-bottom: 1px solid $a-border-color;
    color: $a-color-green;
    @include a-fz-lg;
    font-weight: bold;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin-top: 15px;
    }
  }

  &-contentText {
    margin-top: 15px;
    line-height: 2;

    @media screen and (max-width: 767px) {
    }
  }

  &-contentNote {
    margin-top: 36px;
    color: #666;
    font-size: 1.3rem;
    line-height: 1.8;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
      font-size: 0.9rem;
    }

    li {
      padding-left: 16px;

      &::before {
        display: inline-block;
        margin-left: -16px;
        content: "※";
      }
    }
  }

  &-contentRoom {
    display: flex;
  }

  &-contentRoomName {
    flex-shrink: 0;
    width: 140px;
    line-height: 2;

    @media screen and (max-width: 767px) {
    }
  }

  &-contentRoomInfo {
    line-height: 2;
  }

  &-contentImgList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-contentFigure {
    width: 368px;
    margin-top: 30px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 20px;
    }

    &:nth-child(2n - 1) {
      margin-right: 72px;

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }

    img {
      width: 100%;
    }
  }

  &-contentFigureText {
    margin-top: 4px;
    @include a-fz-sm;
    text-align: right;

    @media screen and (max-width: 767px) {
    }
  }
}
