.d-life {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-content {
    padding: 40px 50px 50px;

    @media screen and (max-width: 767px) {
      padding: 30px 10px 35px;
    }
  }

  &-service {
    &--border {
      margin-top: 40px;
      padding-top: 40px;
      border-top: 2px dotted $a-color-brown;

      @media screen and (max-width: 767px) {
        margin-top: 25px;
        padding-top: 25px;
      }
    }
  }

  &-info {
    display: flex;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  &-infoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-shrink: 0;
    width: 190px;
    height: 150px;
    margin-right: 40px;
    background-size: cover;
    color: $a-color-brown;
    @include a-fz-lg;
    font-family: $a-font-noto;
    font-weight: bold;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      width: 140px;
      height: 110px;
      margin: 0 auto;
    }

    &--sm {
      font-size: 1.3rem;
      font-weight: normal;

      @media screen and (max-width: 767px) {
        font-size: 1rem;
      }
    }

    &--pink {
      background-image: url("/muginoie/assets/images/life_bg_pink.png");
    }

    &--yellow {
      background-image: url("/muginoie/assets/images/life_bg_yellow.png");
    }

    &--blue {
      background-image: url("/muginoie/assets/images/life_bg_blue.png");
    }
  }

  &-infoTitle--sm {
    font-size: 1.3rem;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  &-infoText {
    line-height: 2;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      padding: 0 5px;
    }

    strong {
      color: $a-color-green;
    }
  }

  &-serviceImgList {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

    @media screen and (max-width: 767px) {
      margin-top: 35px;
    }
  }

  &-serviceImgItem {
    width: 250px;

    @media screen and (max-width: 767px) {
      width: 31%;
    }
  }

  &-serviceImgText {
    margin-top: 4px;
    @include a-fz-sm;
    text-align: right;

    @media screen and (max-width: 767px) {
      margin-top: 0;
      font-size: 0.9rem;
    }
  }

  &-supporter {
    display: flex;
    margin-top: 40px;
    border: 6px solid #fff5dc;

    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 45px;
    }
  }

  &-supporterTitle {
    position: relative;
    width: 370px;
    padding-top: 60px;
    background-color: #fff5dc;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-weight: bold;
    @include a-fz-lg;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: auto;
      padding: 25px 0 20px;
      font-size: 1.3rem;
    }

    img {
      margin-top: 30px;

      @media screen and (max-width: 767px) {
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        width: 140px;
        margin: 0 auto;
      }
    }
  }

  &-supporterList {
    padding: 25px 20px 25px 35px;

    @media screen and (max-width: 767px) {
      padding: 20px 15px 20px 20px;
    }
  }

  &-supporterItem {
    color: #8e5947;
    font-size: 1.3rem;

    @media screen and (max-width: 767px) {
      font-size: 0.9rem;
      letter-spacing: 0;
    }

    & + & {
      margin-top: 10px;
    }

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &::before {
      display: inline-block;
      content: "・";
    }
  }

  &-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 380px;
    height: 70px;
    margin: 40px auto 0;
    padding: 22px;
    background-color: #fff;
    border: 3px solid #bca999;
    border-radius: 4px;
    box-shadow: 5px 5px 0 0 #d5ccb7;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.075em;
    transition: transform 0.1s;

    @media screen and (max-width: 767px) {
      width: 285px;
      height: 50px;
      margin: 25px auto 0;
      padding: 15px;
      border: 2px solid #bca999;
      border-radius: 3px;
      box-shadow: 3px 4px 0 0 #d5ccb7;
      font-size: 1.2rem;
    }

    &:hover {
      box-shadow: none;
      transform: translate3d(5px, 5px, 0);
      opacity: 1;
    }

    &::before {
      display: block;
      width: 46px;
      height: 20px;
      margin-right: 14px;
      background-color: #cc0000;
      border-radius: 4px;
      color: #fff;
      @include a-fz-sm;
      content: "PDF";
      text-align: center;
      line-height: 20px;

      @media screen and (max-width: 767px) {
        width: 35px;
        height: 16px;
        margin-right: 10px;
        line-height: 16px;
      }
    }

    &::after {
      position: absolute;
      top: 25px;
      right: 22px;
      display: block;
      width: 16px;
      height: 13px;
      background-image: url("/muginoie/assets/images/icon_window_brown.svg");
      content: "";

      @media screen and (max-width: 767px) {
        top: 15px;
        right: 18px;
      }
    }
  }
}
