.d-policy {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-message {
    display: flex;
    justify-content: space-between;
    @include a-width-sm;
    margin: 55px auto;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin: 40px auto;
    }
  }

  &-messagePhoto {
    width: 255px;
    margin-right: 56px;
    flex-shrink: 0;

    @media screen and (max-width: 767px) {
      width: 40.8vw;
      margin: 0 auto;
      text-align: center;
    }
  }

  &-messageName {
    margin-top: 20px;
    @include a-fz-md;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 1.1rem;
    }
  }

  &-messageTitle {
    @include heading-lg;
    font-size: 2.4rem;
    font-family: $a-font-serif;

    @media screen and (max-width: 767px) {
      margin-top: 40px;
      font-size: 1.7rem;
      text-align: center;
    }
  }

  &-messageText {
    margin-top: 32px;
    line-height: 2;

    @media screen and (max-width: 767px) {
      margin-top: 40px;
    }

    & + & {
      margin-top: 20px;
    }
  }

  &-content {
    width: 430px;
    padding: 30px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 15px;

      & + & {
        margin-top: 30px;
      }
    }
  }

  &-contentWrap {
    display: flex;
    justify-content: space-between;
    @include a-width-sm;
    margin: 72px auto 90px;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      width: $a-width-sp-md;
      margin: 60px auto;
    }
  }

  &-contentImg {
    position: relative;
    img {
      width: 100%;
    }
  }

  &-contentImgText {
    position: absolute;
    bottom: 4px;
    right: 8px;
    color: #fff;
    @include a-fz-sm;
    text-align: right;
  }

  &-contentTitle {
    margin-top: 30px;
    color: $a-color-brown;
    @include a-fz-lg;
    font-family: $a-font-noto;
    font-weight: bold;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &-contentTitleInner {
    background-image: url("/muginoie/assets/images/border.png");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  &-contentText {
    margin-top: 25px;
    line-height: 1.8;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
      line-height: 2;
    }

    & + & {
      margin-top: 10px;
    }
  }
}
