.d-recruit {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  &-concept {
    @include a-width-sm;
    margin: 80px auto;

    @media screen and (max-width: 767px) {
      margin: 55px auto;
    }
  }

  &-conceptRow {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: block;
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: -20px;

      @media screen and (max-width: 767px) {
        margin-top: 35px;
      }

      .d-recruit-conceptImg {
        width: 368px;

        @media screen and (max-width: 767px) {
          width: 62%;
        }
      }

      .d-recruit-conceptText {
        margin-left: 30px;

        @media screen and (max-width: 767px) {
          margin: 15px auto 0;
        }
      }
    }

    &:nth-child(3) {
      margin-top: -20px;

      @media screen and (max-width: 767px) {
        margin-top: 35px;
      }
    }
  }

  &-conceptImg {
    width: 420px;
    height: auto;

    @media screen and (max-width: 767px) {
      display: block;
      width: 62%;
      margin: 0 auto;
    }
  }

  &-conceptText {
    margin-left: 80px;
    color: $a-color-brown;
    @include a-fz-lg;
    font-family: $a-font-serif;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      width: 62%;
      margin: 15px auto 0;
      font-size: 1.1rem;
    }
  }

  &-conceptTextInner {
    background-image: url("/muginoie/assets/images/border.png");
    background-repeat: repeat-x;
    background-position: bottom;

    @media screen and (max-width: 767px) {
      background-size: auto 5px;
    }
  }
}
