.d-top {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  @mixin _heading-green--vertical {
    background-color: $a-color-green;
    color: #fff;
    @include a-fz-lg;
    font-weight: 500;
    font-family: $a-font-noto;
    letter-spacing: 0.08em;
    position: absolute;
    top: -20px;
    right: -16px;
    padding: 12px 4px;
    writing-mode: vertical-rl;

    @media screen and (max-width: 767px) {
      left: -8px;
      right: auto;
      padding: 10px 2px;
      font-size: 1rem;
    }
  }

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */

  /* --------------------------------
    レイアウト
  -------------------------------- */
  &-main {
    background-color: $a-color-green--light;
  }

  &-inner {
    @include a-width-md;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      margin: 0 auto;
    }
  }

  &-left {
    width: 600px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-right {
    width: 300px;
    margin-top: 106px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-top: 50px;
    }
  }

  /* --------------------------------
    Slider
  -------------------------------- */
  &-slider {
    background-color: $a-color-green--light;
  }

  &-sliderItem {
    width: 100%;
    height: 43vw;
    background-size: cover;

    @media screen and (max-width: 767px) {
      height: 69vw;
    }

    &--1 {
      background-image: url('/muginoie/assets/images/top_slider01.png');

      @media screen and (max-width: 767px) {
        background-image: url('/muginoie/assets/images/top_slider01_sp.png');
      }
    }

    &--2 {
      background-image: url('/muginoie/assets/images/top_slider02.png');

      @media screen and (max-width: 767px) {
        background-image: url('/muginoie/assets/images/top_slider02_sp.png');
      }
    }

    &--3 {
      background-image: url('/muginoie/assets/images/top_slider03.png');

      @media screen and (max-width: 767px) {
        background-image: url('/muginoie/assets/images/top_slider03_sp.png');
      }
    }
  }

  /* --------------------------------
    Intro
  -------------------------------- */
  &-intro {
    margin: 20px auto 80px;

    @media screen and (max-width: 767px) {
      margin: 40px auto 55px;
    }
  }

  &-introTitle {
    @include heading-lg;
    margin-bottom: 56px;
    font-family: $a-font-serif;

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
      font-size: 1.7rem;
    }
  }

  &-introText {
    line-height: 2;

    & + & {
      margin-top: 16px;

      @media screen and (max-width: 767px) {
        margin-top: 20px;
      }
    }
  }


  /* --------------------------------
    News
  -------------------------------- */
  &-newsTitle {
    @include heading-green;
    padding: 0 24px;
  }

  &-newsList {
    margin-bottom: 80px;

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
    }
  }

  &-newsItem {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
  }

  &-newsAnchor {
    display: flex;
    align-items: center;
    padding: 20px 24px;


    @media screen and (max-width: 767px) {
      display: block;
      padding: 16px;
    }

    &::before {
      @include arrow;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      @media screen and (max-width: 767px) {
        top: 22px;
        bottom: auto;
      }
    }

    &:hover {
      .d-top-newsText {
        text-decoration: none;
      }
    }
  }

  &-newsText {
    margin-left: 16px;
    color: #8e5947;
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      margin: 4px 0 0 0;
    }
  }

  &-newsDate {
    flex-shrink: 0;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
    }
  }

  &-newsTag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 20px;
    width: 74px;
    height: 24px;
    border-radius: 3px;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 0.08em;

    @media screen and (max-width: 767px) {
      display: inline-block;
      width: 50px;
      height: auto;
      margin-left: 10px;
      font-size: 0.8rem;
      text-align: center;
    }

    &--blog {
      background-color: #dd9649;
    }

    &--recruit {
      background-color: #64acd9;
    }

    &--other {
      background-color: #87af4e;
    }
  }

  /* --------------------------------
    Photo
  -------------------------------- */
  &-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;

    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &-photoItem {
    width: 285px;

    @media screen and (max-width: 767px) {
      width: 48%;
    }

    &:nth-child(n+3) {
      margin-top: 55px;

      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }

  &-photoText {
    margin-top: 12px;
    color: $a-color-green;
    @include a-fz-lg;
    font-weight: bold;
    font-family: $a-font-noto;
    letter-spacing: 0.05em;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      font-size: 1.2rem;
    }
  }

  /* --------------------------------
    Blog
  -------------------------------- */
  &-blog {
    position: relative;
    width: 280px;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    a:hover {
      .d-top-blogLink {
        text-decoration: none;
      }
    }
  }

  &-blogTitle {
    @include _heading-green--vertical;
  }

  &-blogImg {
    height: auto;
    margin-bottom: 24px;
  }

  &-blogText {
    margin-bottom: 10px;
  }

  &-blogLink {
    color: #8e5947;
    text-decoration: underline;
    text-align: right;

    &::before {
      @include arrow;
    }
  }


  /* --------------------------------
    Policy
  -------------------------------- */
  &-policy {
    width: 280px;
    height: 500px;
    margin-bottom: 80px;
    padding: 34px 24px;
    background-color: #ffecbb;
    background-size: cover;
    background-image: url("/muginoie/assets/images/top_mugi.png");
    border-radius: 14px;
    color: #896451;
    font-family: $a-font-serif;
    writing-mode: vertical-rl;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: auto;
      margin-bottom: 60px;
      padding: 15px 20px 20px;
      background-image: url("/muginoie/assets/images/top_mugi_sp.png");
      writing-mode: horizontal-tb;
    }
  }

  &-policyTitle {
    margin-left: 12px;
    font-size: 2.6rem;
    font-weight: 600;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      margin-left: 0;
      font-size: 1.7rem;
    }
  }

  &-policyText {
    @include a-fz-lg;
    line-height: 1.9;
    letter-spacing: 0;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      font-size: 1.2rem;
    }
  }

  /* --------------------------------
    Access
  -------------------------------- */
  &-access {
    position: relative;
    width: 280px;
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &-accessTitle {
    @include _heading-green--vertical;
  }

  &-accessMap {
    width: 280px;
    height: 186px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 40vw;
    }
  }

  &-accessInfo {
    padding: 16px;
    background-color: #fff;
    @include a-fz-sm;

    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }

  &-accessText {
    & + & {
      margin-top: 4px;

      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }
  }

  &-accessTextBreak {
    display: block;

    @media screen and (max-width: 767px) {
      display: inline;
      margin-left: 10px;
    }
  }

  &-accessButtonWrap {
    margin-top: 10px;

    @media screen and (max-width: 767px) {
      height: 34px;
      margin-top: 20px;
      overflow: hidden;
    }
  }

  &-accessButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 40px;
    background-color: #e6f1de;
    border-radius: 4px;
    box-shadow: 2px 2px 0 0 rgba(58, 138, 0, 0.5);
    color: $a-color-green;
    font-weight: bold;
    font-family: $a-font-noto;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      float: right;
      width: 180px;
      height: 30px;
    }

    &:hover {
      box-shadow: none;
      transform: translate3d(2px, 2px, 0);
      opacity: 1;
    }

    &::after {
      display: inline-block;
      width: 16px;
      height: 13px;
      margin-left: 20px;
      background-image: url("/muginoie/assets/images/icon_window.svg");
      content: "";
    }
  }

  &-accessList {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e8e8e8;
    line-height: 2;

    @media screen and (max-width: 767px) {
      margin-top: 10px;
      padding-top: 10px;
      font-size: 0;
    }
  }

  &-accessItemTitle {
    display: inline-block;
    width: 50px;
    color: $a-color-green;
    font-size: 1.2rem;
    letter-spacing: 0.2em;

    @media screen and (max-width: 767px) {
      width: 15%;
      padding-left: 10px;
      font-size: 1.1rem;
    }
  }

  &-accessItemText {
    display: inline-block;
    width: 180px;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      width: 85%;
      font-size: 1.1rem;
    }
  }


  /* --------------------------------
    Room
  -------------------------------- */
  &-room {
    @include a-width-md;
    margin: 60px auto 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      margin: 50px auto 55px;
    }
  }

  &-roomTitle {
    font-family: $a-font-serif;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      font-size: 2.1rem;
    }

    &--small {
      margin-right: 16px;
      font-family: $a-font-noto;
      font-size: 1.6rem;
      font-weight: 500;
      vertical-align: middle;

      @media screen and (max-width: 767px) {
        margin-right: 12px;
        font-size: 1.1rem;
      }
    }
  }

  &-roomText {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 2;

    @media screen and (max-width: 767px) {
      font-size: 1.2rem;
    }
  }

  &-roomTel {
    display: flex;
    align-items: center;
    margin-top: 20px;

    @media screen and (max-width: 767px) {
    }
  }

  &-roomTelTitle {
    margin-right: 16px;
    padding: 1px 14px;
    border-radius: 3px;
    background-color: $a-color-brown;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      font-size: 1rem;
    }
  }

  &-roomTelNumber {
    color: $a-color-brown;
    @include a-fz-lg;
    font-weight: bold;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      font-size: 1.4rem;
    }
  }

  &-roomImg {
    width: 368px;
    margin-left: 45px;

    @media screen and (max-width: 767px) {
      width: 68%;
    }
  }
}
