// 友好福祉会トップページ

.d-yk {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  $_width-md: 960px;
  $_width-md-sp: 92vw;

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  padding-top: 0;

  &-hero {
    background-color: #fffef0;
  }

  &-heroInner {
    width: $_width-md;
    margin: 0 auto;
    padding: 75px 0 90px;
    background-image: url("/assets/images/hero-bg.png");
    background-position: right center;

    @media screen and (max-width: 767px) {
      width: $_width-md-sp;
      padding: 35px 4vw;
      background-position: right top 6vw;
      background-size: 80vw;
    }
  }

  &-heroLogo {
    margin-left: 30px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-heroLogo-sp {
    display: none;

    @media screen and (max-width: 767px) {
      display: inline;
      width: 90px;
    }
  }

  &-heroCaption {
    margin: 60px 0 0 30px;
    color: $a-color-green;
    width: 358px;

    @media screen and (max-width: 767px) {
      margin: 40vw 0 0;
      width: 255px;
    }
  }

  &-heroCaptionImg {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-heroCaptionImg-sp {
    display: none;

    @media screen and (max-width: 767px) {
      display: inline;
    }
  }

  &-heroText {
    margin: 40px 0 0 30px;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.5;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      margin: 20px 0 0;
      font-size: 1.3rem;
      line-height: 1.92;
    }
  }

  &-nav {
    background-image: url("/assets/images/banner-bg.jpg");
    background-color: #eee4c6;
    background-size: cover;
  }

  &-navList {
    display: flex;
    justify-content: space-between;
    width: $_width-md;
    margin: 0 auto;
    padding: 50px 30px;

    @media screen and (max-width: 767px) {
      display: block;
      width: 100%;
      padding: 30px 10.5vw;
    }
  }

  &-navItem {
    width: 420px;

    @media screen and (max-width: 767px) {
      width: 100%;
    }

    & + & {
      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }

    &:hover {
      opacity: 0.7;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &-main {
    background-color: #fffef0;
    background-image: url("/assets/images/bg01.png"), url("/assets/images/bg02.png");
    background-position: top 250px left, top 750px right;
    background-repeat: no-repeat, no-repeat;

    @media screen and (max-width: 767px) {
      background-position: top 215px left, top 840px right;
      background-size: 53%, 60%;
    }

  }

  &-section {
    @media screen and (max-width: 767px) {
      width: $_width-md-sp;
      margin: 0 auto;
    }
  }

  &-storyTitle {
    padding-top: 80px;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding-top: 55px;
    }

    img {
      width: 117px;
    }
  }

  &-historyTitle {
    margin-top: 50px;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin-top: 55px;
    }

    img {
      width: 60px;
    }
  }

  &-sectionText {
    margin-top: 45px;
    font-size: 1.5rem;
    line-height: 2.4;
    text-align: center;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      margin-top: 20px;
      font-size: 1.2rem;
      line-height: 2;
    }
  }

  &-sectionTextInner {
    color: $a-color-brown;
    font-weight: 600;
    background-image: url("/muginoie/assets/images/border.png");
    background-size: auto 8px;
    background-repeat: repeat-x;
    background-position: bottom;

    @media screen and (max-width: 767px) {
    }
  }

  &-sectionImgWrap {
    width: 890px;
    margin: 40px auto 0;

    @media screen and (max-width: 767px) {
      width: $_width-md-sp;
      margin: 35px auto 0;
    }
  }

  &-sectionImg {
  }

  &-hestory {
    width: 700px;
    margin: 45px auto 0;

    @media screen and (max-width: 767px) {
      width: 84vw;
      margin: 50px auto 0;
    }
  }

  &-hestoryList {
    display: flex;
    letter-spacing: 0.1em;

    & + & {
      margin-top: 20px;

      @media screen and (max-width: 767px) {
        margin-top: 15px;
      }
    }
  }

  &-hestoryYear {
    flex-shrink: 0;
    color: $a-color-brown;
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      font-size: 1.1rem;
      line-height: 1.8;
    }
  }

  &-hestoryYearJp {
    flex-shrink: 0;
    margin-left: 10px;
    color: $a-color-brown;
    font-size: 1.2rem;
    line-height: 2;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      display: block;
      margin-left: -5px;
      font-size: 0.9rem;
      line-height: 1;

    }
  }

  &-hestoryText {
    margin-left: 30px;
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
      margin-left: 18px;
      font-size: 1.1rem;
      line-height: 1.8;
      letter-spacing: 0.05em;
    }
  }

  &-link {
    width: 900px;
    margin: 75px auto 0;
    padding: 30px 25px 25px;
    background-color: #fff;
    border: 1px solid #ede3cd;
    font-size: 1.4rem;
    letter-spacing: 0.075em;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 84vw;
      margin: 55px auto 0;
      padding: 20px 25px 15px;
      font-size: 1.1rem;
    }
  }

  &-linkText {
    margin-bottom: 10px;
  }

  &-linkAnchor {
    margin-right: 10px;
    color: $a-color-brown;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  &-linkIcon {
    width: 21px;
    height: 15px;
    margin-right: 12px;
    vertical-align: baseline;

    @media screen and (max-width: 767px) {
      margin-right: 6px;
    }
  }

  &-footer {
    padding-bottom: 95px;
    background-color: #fffef0;
    background-image: url("/assets/images/footer-bg.png");
    background-position: bottom;
    background-repeat: repeat-x;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding-bottom: 50px;
      background-image: url("/assets/images/footer-bg-sp.png");
      background-size: cover;
    }
  }

  &-footerLogo {
    margin-top: 100px;

    @media screen and (max-width: 767px) {
      margin-top: 50px;
    }
  }

  &-footerAddress {
    margin-top: 30px;
    color: $a-color-brown;
    font-size: 1.4rem;
    font-family: $a-font-noto;
    font-weight: 500;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin-top: 15px;
      font-size: 1.1rem;
    }
  }

  &-footerTel {
    margin-top: 10px;
    color: $a-color-brown;
    font-size: 2.4rem;
    font-family: $a-font-noto;
    font-weight: 500;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      font-size: 1.7rem;
    }
  }

  &-footerFax {
    margin-top: 10px;
    color: $a-color-brown;
    font-size: 1.4rem;
    font-family: $a-font-noto;
    font-weight: 500;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      margin-top: 5px;
      font-size: 1rem;
    }
  }

  &-footerButton {
    position: relative;
    display: block;
    width: 65px;
    height: 65px;
    margin: 65px auto 0;
    padding-top: 32px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    color: $a-color-brown;
    font-family: $a-font-noto;
    font-size: 0.9rem;
    letter-spacing: 0.075em;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: 60px;
      height: 60px;
      padding-top: 28px;
      font-size: 0.8rem;
    }

    &::before {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      display: block;
      width: 18px;
      height: 18px;
      margin: 0 auto;
      border-top: 2px solid $a-color-brown;
      border-right: 2px solid $a-color-brown;
      transform: rotate(-45deg);
      content: "";

      @media screen and (max-width: 767px) {
        top: 18px;
        width: 15px;
        height: 15px;
      }
    }
  }

  &-footerCopy {
    display: block;
    margin-top: 35px;
    color: $a-color-brown;
    font-size: 1.1rem;
    letter-spacing: 0.075em;
    text-shadow: #fff 1px 1px 2px;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
      font-size: 0.9rem;
    }
  }
}
