.c-contentList {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      padding: 20px 10px;
    }
  }

  &-item {
    display: flex;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $a-border-color;

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
      padding-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  &-itemTitle {
    flex-shrink: 0;
    width: 150px;
    padding: 0 24px;
    color: $a-color-green;
    vertical-align: top;
    letter-spacing: 0.075em;

    @media screen and (max-width: 767px) {
      width: 100px;
    }
  }

  &-item--spNoneFlex {
    @media screen and (max-width: 767px) {
      display: block;

      .c-contentList-itemTitle {
        padding: 0 10px;
        width: 100%;
      }

      .c-contentList-itemText {
        padding: 10px 10px 0;
      }
    }
  }

  &-itemText {
    line-height: 1.86;
  }
}
