.wp-pagenavi {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */

  & {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    @media screen and (max-width: 767px) {
      margin-bottom: 60px;
    }
  }

  .current,
  .page,
  .first,
  .last,
  .nextpostslink,
  .previouspostslink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: 1px solid $a-color-brown--light;
    background-color: #fff;
    color: $a-color-brown;
    font-size: 1.4rem;
    @media screen and (max-width: 767px) {
      margin: 0 6px;
    }
  }

  .last {
    width: 50px;
  }

  .page,
  .first,
  .last,
  .nextpostslink,
  .previouspostslink {
    text-decoration: underline;
  }
}
