
/* --------------------------------
  Header
-------------------------------- */
body {
  @media screen and (max-width: 767px) {
    padding-top: 15vw;
  }
}
.c-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include a-width-lg;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    width: 92%;
    height: 15vw;
  }

  &-wrap {
    border-top: 5px solid $a-color-green;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      position: fixed;
      top: 0;
      z-index: 10;
      width: 100%;
      border-top: 9px solid $a-color-green;
    }
  }

  &-logo {
    margin-top: 20px;
    font-size: 0;

    @media screen and (max-width: 767px) {
      width: 61vw;
      margin-top: 4vw;
    }
  }

  &-info {
    padding: 12px 25px;
    background-color: $a-color-green;
    color: #fff;
    border-radius: 0 0 $a-borderradius-md $a-borderradius-md;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &-address {
    font-size: 1.3rem;
    font-family: $a-font-noto;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  &-tel {
    margin-top: 4px;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 0.14em;
    line-height: 28px;

    &::before {
      display: inline-block;
      width: 28px;
      height: 28px;
      margin-right: 14px;
      background-color: #fff;
      background-image: url("/muginoie/assets/images/common/icon_phone.svg");
      background-size: 18px 18px;
      background-position: center;
      border-radius: $a-borderradius-md;
      vertical-align: top;
      content: "";
    }
  }

  &-buttonOpen {
    display: none;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: 6px;
      right: 4vw;
      display: block;
      width: 40px;
      color: $a-color-green;
      font-family: $a-font-noto;
      font-size: 0.9rem;
      letter-spacing: 0;
    }
  }

  &-buttonOpenLine {
    display: block;
    width: 32px;
    height: 3px;
    margin: 5px auto 0;
    background-color: $a-color-green;

    &:last-child {
      margin-bottom: 2px;
    }
  }

  &-buttonClose {
    display: none;

    @media screen and (max-width: 767px) {
      position: absolute;
      top: -9px;
      right: 0;
      z-index: 11;
      width: 75px;
      padding: 15px 0 10px;
      background-color: $a-color-green;
      color: #fff;
      font-family: $a-font-noto;
      font-size: 0.9rem;
      text-align: center;
    }
  }

  &-buttonCloseLine {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto 2px;
    transform: rotate(45deg);

    &::before,
    &::after
    {
      position: absolute;
      display: block;

      background-color: #fff;
      content: "";
    }
    &::before {
      top: 15px;
      width: 32px;
      height: 3px;
    }
    &::after {
      left: 15px;
      width: 3px;
      height: 32px;
    }
  }
}


/* --------------------------------
  Navigation
-------------------------------- */
.c-nav {
  @include a-width-lg;
  margin: 16px auto 0;
  background-color: #fff;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 15vw;
    z-index: 10;
    margin: 0;
    padding: 20px 0 10px;
    width: 100%;
  }

  &-list {
    position: relative;
    display: flex;
    width: 100%;
    height: 86px;
    font-family: $a-font-serif;
    @include a-fz-sm;
    font-weight: bold;
    color: #000;
    text-decoration: none;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      height: auto;
      font-size: 1.2rem;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 16px;
      display: block;
      width: 1px;
      height: 22px;
      background-color: #ccc;
      content: "";

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  &-item {
    position: relative;
    width: 100%;

    @media screen and (max-width: 767px) {
      width: 32%;
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: 16px;
      display: block;
      width: 1px;
      height: 22px;
      background-color: #ccc;
      content: "";

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 50px 0 0 0;
      background-position: center 16px;
      font-weight: 500;
      text-align: center;

      @media screen and (max-width: 767px) {
        padding: 55px 0 10px 0;
        background-position: center 10px;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    &.is-active {
      color: $a-color-green;
      pointer-events: none;

      @media screen and (max-width: 767px) {
        color: #000;
        pointer-events: auto;
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        width: 126px;
        margin: auto;
        border-bottom: 4px solid $a-color-green;
        content: "";

        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }

    // 背景画像の出し分け
    &:nth-child(1) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_home.svg");
        background-size: 40px 27px;

        @media screen and (max-width: 767px) {
          background-size: 47px 31px;
        }
      }

      @media screen and (max-width: 767px) {
        border-bottom: 1px dotted #9cc47f;
      }
    }

    &:nth-child(2) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_about.svg");
        background-size: 42px 26px;

        @media screen and (max-width: 767px) {
          background-size: 52px 31px;
        }
      }

      @media screen and (max-width: 767px) {
        width: 36%;
        border-bottom: 1px dotted #9cc47f;
        border-left: 1px dotted #9cc47f;
        border-right: 1px dotted #9cc47f;
      }
    }

    &:nth-child(3) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_life.svg");
        background-size: 38px 32px;

        @media screen and (max-width: 767px) {
          background-size: 40px 34
          px;
        }
      }

      @media screen and (max-width: 767px) {
        border-bottom: 1px dotted #9cc47f;
      }
    }

    &:nth-child(4) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_institution.svg");
        background-size: 61px 22px;

        @media screen and (max-width: 767px) {
          background-size: 53px 20px;
          background-position: center 25px;
        }
      }
    }

    &:nth-child(5) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_blog.svg");
        background-size: 37px 30px;

        @media screen and (max-width: 767px) {
          background-size: 42px 33px;
          background-position: center 15px;
        }
      }

      @media screen and (max-width: 767px) {
        width: 36%;
        border-left: 1px dotted #9cc47f;
        border-right: 1px dotted #9cc47f;
      }
    }

    &:nth-child(6) {
      a {
        background-image: url("/muginoie/assets/images/common/nav_recruit.svg");
        background-size: 46px 28px;

        @media screen and (max-width: 767px) {
          background-size: 55px 32px;
          background-position: center 18px;
        }
      }
    }
  }
}


/* --------------------------------
  Footer
-------------------------------- */
.c-footer {
  position: relative;
  margin-top: auto;
  background-color: #e9e4d7;

  &-navWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include a-width-md;
    height: 80px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      height: auto;
    }
  }

  &-navImg {
    width: 284px;

    @media screen and (max-width: 767px) {
      width: 220px;
      margin-top: 30px;
    }
  }

  &-navList {
    display: flex;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      border-top: 1px solid #d6cabd;
    }
  }

  &-navItem {
    padding: 0 16px;
    color: #89654f;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: $a-font-noto;
    border-right: 1px solid #d6cabd;
    letter-spacing: 0.05em;

    @media screen and (max-width: 767px) {
      width: 31%;
      padding: 0;
      border-right: none;
      border-bottom: 1px solid #d6cabd;
      font-size: 1.1rem;
      font-weight: normal;
      text-align: center;
    }

    a {
      @media screen and (max-width: 767px) {
        position: relative;
        display: block;
        padding: 15px 5px;
      }

      &::after {
        @media screen and (max-width: 767px) {
          position: absolute;
          top: 18px;
          right: -1px;
          display: block;
          width: 1px;
          height: 14px;
          background-color: #d6cabd;
          content: "";
        }
      }
    }

    &:first-child {
      border-left: 1px solid #d6cabd;

      @media screen and (max-width: 767px) {
        border-left: none;
      }
    }

    &:nth-child(3n + 2) {
      @media screen and (max-width: 767px) {
        width: 38%;
      }
    }

    &:nth-child(3n + 3) {
      a::after {
        @media screen and (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &-info {
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
      margin-bottom: 30px;
      color: $a-color-brown;
    }
  }

  &-address {
    margin-top: 15px;
    font-family: $a-font-noto;
    font-size: 1rem;
    letter-spacing: 0.1em;
  }

  &-tel {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 0.1em;

    &::before {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 15px;
      background-color: $a-color-brown;
      background-image: url("/muginoie/assets/images/common/icon_phone_white.svg");
      background-size: 14px 14px;
      background-position: center;
      border-radius: $a-borderradius-md;
      vertical-align: middle;
      content: "";
    }
  }

  &-copy {
    background-color: #d5ccb5;
  }

  &-copyInner {
    position: relative;
    @include a-width-md;
    margin: 0 auto;
    text-align: center;

    @media screen and (max-width: 767px) {
      padding: 20px 0 15px;
    }
  }

  &-copyText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: #999;
    font-family: $a-font-noto;
    font-size: 1rem;

    @media screen and (max-width: 767px) {
      height: auto;
      margin-top: 10px;
      font-size: 0.8rem;
    }
  }

  &-link {
    position: absolute;
    right: 0;
    top: 30px;
    color: #89654f;
    font-size: 1.4rem;
    text-decoration: underline;

    @media screen and (max-width: 767px) {
      position: relative;
      top: 0;
      font-size: 1.1rem;
    }

    &:hover {
      text-decoration: none;
    }

    &::before {
      @include arrow;
      position: absolute;
      left: -15px;
      top: 0;
      bottom: 0;
      margin: auto;

      @media screen and (max-width: 767px) {
        top: 0;
      }
    }
  }

  &-button {
    display: none;

    @media screen and (max-width: 767px) {
      position: absolute;
      bottom: 65px;
      right: 4%;
      display: block;
      width: 38px;
      height: 38px;
      background-color: #fff;
      border-radius: $a-borderradius-sm;

      &::before {
        position: absolute;
        top: 40%;
        left: 40%;
        display: inline-block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 7px solid $a-color-brown;
        content: "";
      }
    }
  }
}
