.c-section {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */
  & {
    @include a-width-sm;
    margin: 80px auto 0;

    @media screen and (max-width: 767px) {
      margin: 50px auto 0;
    }

    &:last-child {
      margin-bottom: 80px;
    }
  }

  &-title {
    @include heading-green;
  }

  &-content {
    margin-top: 40px;
    padding: 30px;
    background-color: #fff;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      padding: 15px;
    }
  }

  &-text {
    margin-top: 40px;
    line-height: 2;

    @media screen and (max-width: 767px) {
      margin-top: 25px;
    }
  }
}
