.c-subPage {
  /* -----------------------------------------------------
    変数・mixin
  ----------------------------------------------------- */

  /* -----------------------------------------------------
    style
  ----------------------------------------------------- */

  & {
    background-color: $a-color-green--light;
  }

  &-main {
    @include a-width-md;
    padding-top: 72px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: 0 auto;
      padding-top: 35px;
    }
  }

  &-title {
    color: $a-color-green;
    border-bottom: 4px solid $a-color-green;
    font-size: 3.2rem;
    font-family: $a-font-serif;
    font-weight: 500;
    letter-spacing: 0.05em;

    @media screen and (max-width: 767px) {
      width: $a-width-sp-lg;
      margin: 0 auto;
      border-bottom: 3px solid $a-color-green;
      font-size: 2.4rem;
    }

    &--policy {
      padding: 0 0 10px 100px;
      background: url("/muginoie/assets/images/common/nav_about.svg") no-repeat 20px top;
      background-size:  70px 42px;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 54px;
        background: url("/muginoie/assets/images/common/nav_about.svg") no-repeat 0 5px;
        background-size:  42px 25px;
      }
    }

    &--life {
      padding: 0 0 10px 90px;
      background: url("/muginoie/assets/images/common/nav_life.svg") no-repeat 10px top;
      background-size:  64px 54px;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 50px;
        background: url("/muginoie/assets/images/common/nav_life.svg") no-repeat 0 5px;
        background-size: 35px 30px;
      }
    }

    &--facility {
      padding: 0 0 10px 90px;
      background: url("/muginoie/assets/images/common/nav_institution.svg") no-repeat 5px 10px;
      background-size:  72px 28px;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 55px;
        background: url("/muginoie/assets/images/common/nav_institution.svg") no-repeat 0 12px;
        background-size:  45px 16px;
      }
    }

    &--blog {
      padding: 0 0 10px 100px;
      background: url("/muginoie/assets/images/common/nav_blog.svg") no-repeat 20px top;
      background-size:  60px 50px;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 50px;
        background: url("/muginoie/assets/images/common/nav_blog.svg") no-repeat 6px 6px;
        background-size:  32px 26px;
      }
    }

    &--recruit {
      padding: 0 0 10px 100px;
      background: url("/muginoie/assets/images/common/nav_recruit.svg") no-repeat 0 top;
      background-size:  77px 46px;

      @media screen and (max-width: 767px) {
        padding: 0 0 0 55px;
        background: url("/muginoie/assets/images/common/nav_recruit.svg") no-repeat 0 8px;
        background-size:  40px 24px;

      }
    }
  }

  &-text {
    margin-top: 40px;
    font-size: 2.4rem;
    font-family: $a-font-serif;
    text-align: center;

    @media screen and (max-width: 767px) {
      width: $a-width-sp-lg;
      margin: 35px auto 0;
      font-size: 1.7rem;
    }
  }

  &-mainImg {
    @include a-width-sm;
    margin: 48px auto 0;

    @media screen and (max-width: 767px) {
      width: $a-width-sp-lg;
      margin: 30px auto 0;
    }

    img {
      width: 100%;
    }
  }

  &-capton {
    margin-top: 48px;
    text-align: center;
    line-height: 2;

    @media screen and (max-width: 767px) {
      width: $a-width-sp-lg;
      margin: 30px auto 0;
    }

    & + & {
      margin-top: 35px;

      @media screen and (max-width: 767px) {
        margin-top: 25px;
      }
    }
  }
}
